<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FitBuddy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section th:replace="fragments/navbar.html :: siter-navbar" ></section>
    <div class="container my-5">
        <h1>Support Page!</h1>
        <h3>Please before submit a request read the FAQ section below.</h3>
        <hr class="col-1 my-4" />
        <h6>Support@emailsupport.com</h6>
        <hr class="col-1 my-4" />
        <button type="submit" class="btn btn-primary">Send Email</button>
    </div>    
    <div class="container my-5">
        <h1>Frequently asked questions:</h1>
        <ul class="list-group">
            <li class="list-group-item">How to submit a support request?</li>
            <li class="list-group-item">How to manage my subscription?</li>
            <li class="list-group-item">How to submit new certificates as a Personal Trainer?</li>
            <li class="list-group-item">How to update my profile information?</li>
            <li class="list-group-item">How to manage my buddies and scheduled workout sessions?</li>
          </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>